// Mixins for common styles
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin article {
  flex: 1;
  margin: 0 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}