/* Sticky Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  color: $secondary-font-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  background: whitesmoke;

  .nav-left {
    h1 {
      font-size: 3rem;
      transition: font-size 0.3s ease;
    }
  }

  &.scrolled .nav-left h1 {
    font-size: 1.5rem;
  }

  .nav-right {
    a {
      margin-left: 20px;
      color: $secondary-color;
      text-decoration: none;

      &:hover {
        color: lighten($secondary-color, 30%);
      }
    }
  }
}
