// Variables for colors, fonts, etc.
$primary-color: hsl(225, 100%, 50%);
$secondary-color: hsl(0, 0%, 20%);
$primary-font-color: rgb(85, 85, 85);
$secondary-font-color: rgb(51, 51, 51);
$font-stack: 'Inter', sans-serif;
